- content_for :page_header do
  .row
    .span12
      %ul.breadcrumb
        %li
          = link_to "Comments Admin", feedback_admin_comments_path
          %span.divider
            = "/"
        %li.active

%section#comment-admin
  .page-header
    %h1
      Comment Admin
  
  = form_tag mass_assign_feedback_admin_comments_path do
    
    %table#comment-list.table.table-bordered.table-striped.data-table

      %thead
        %tr
          %th.no-sort.no-search
          %th
            Status
          %th
            User
          %th
            Commentable
          %th
            Body
          %th.no-sort.no-search

      %tbody
        - @comments.each do |comment|
          %tr
            %td
              = check_box_tag "selected_ids[]", "#{comment.id}"
            %td
              = comment.status
            %td
              = comment.author.name
            %td
              = truncate(comment.commentable.to_s)
            %td
              = truncate(comment.body)
            %td
              .btn-group
                - if comment.deleted?
                  = link_to feedback_admin_comment_path(comment, :feedback_comment => {:deleted_at => nil}), :method => :put, :class => "btn btn-success" do
                    %i.icon-share-alt.icon-white
                    Restore
                - else
                  = render "feedback/admin/comments/flag_comment_button", :comment => comment
                  = link_to feedback_admin_comment_path(comment), :method => :delete, :confirm => "Really delete this comment and its #{comment.descendants.size} replies?", :class => "btn btn-danger" do
                    %i.icon-trash.icon-white
                    Delete
            
      %tfoot
        %tr
          %th
          %th.filterable
          %th.filterable
          %th
          %th
          %th