- content_for :page_header do
  .row
    .span12
      %ul.breadcrumb
        %li
          = link_to "Comments Admin", feedback_admin_comments_path
          %span.divider
            = "/"
        %li.active

%section#comment-admin
  .page-header
    %h1
      Comment Admin
    
  %table#comment-list.table.table-bordered.table-striped.data-table

    %thead
      %tr
        %th
          Status
        %th
          User
        %th
          Commentable
        %th
          Body

    %tbody
      - @comments.each do |comment|
        %tr
          %td
            = comment.status
          %td
            = comment.author.name
          %td
            = truncate(comment.commentable.to_s)
          %td
            = truncate(comment.body)
            
    %tfoot
      %tr
        %th.filterable
        %th.filterable
        %th
        %th