!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
- html_tag :class => "no-js", :lang => "en" do
  = render "head"

  %body{ :class => "#{ controller.controller_name }" }
  
    .container-fluid{ :role => "main" }
    
      = render "chromeframe"
      = render "header"
      
      .row
        .span12
          = render "flashes"
          
      .row
        .span6.offset3
          = yield :page_header
        .span3
      
      = yield
          
      -# Javascript at the bottom for fast page loading
      = render "javascripts"