.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to("#", :class => "btn btn-navbar", :"data-toggle" => "collapse", :"data-target" => ".nav-collapse") do
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Dummy App", "/", :class => "brand"
    
      .nav-collapse.collapse
        %ul.nav
          %li.active
            = link_to "Blog Posts", blog_posts_path
          - if can? :index, Feedback::Comment
            %li
              = link_to "Comments Admin", feedback_admin_comments_path
            
        %ul.nav.pull-right
          %li
            - if user_signed_in?
              = link_to("Log out", destroy_user_session_path, :method => :delete)
            - else
              = link_to("Sign in", new_user_session_path)
            