.comments-list
  - comments = commentable.comments
  - unless comments.empty?
    %h3
      = "Showing #{pluralize(comments.size, 'comment')}"
    .controls
      %ul
        %li.sort-by
          = form_tag("#") do
            = label_tag "sort_by", "Sort by"
            = sort_by_select_tag
      
        %li.subscribe-email
          %i.icon-envelope
          Subscribe by email
      
        %li.subscribe-rss
          %i.icon-retweet
          Get RSS feed
        
    = render :partial => "feedback/comments/comment", :collection => comments