.comments-list
  - comments = commentable.comments.all(:order => params[:sort_comments_by])
  - unless comments.empty?
    %h3
      = "Showing #{pluralize(comments.size, 'comment')}"
    .controls
      %ul
        %li.sort-by
          = form_tag("", :method => :get) do
            = label_tag "sort_by", "Sort by"
            = sort_by_select_tag(:selected => params[:sort_comments_by])
      
        %li.get-feed
          = link_to "Get ATOM feed", feedback_comments_path_for(@blog_post, :format => :atom)
        
    = render :partial => "feedback/comments/comment", :collection => comments