- content_for :page_header do
  .row
    .span12
      %ul.breadcrumb
        %li
          = link_to "Home", blog_posts_path
          %span.divider
            = "/"
        %li.active
          Blog Posts
      
.row
  .span6.offset3
    .page-header
      %h2
        = @blog_post.title
        %small
          by Bobby Brown
          %i.icon-user
    
    %ul.thumbnails
      %li.span4
        = link_to image_tag("http://placehold.it/360x268"), "#", :class => "thumbnail"
      %li.span2
        = link_to image_tag("http://placehold.it/160x120"), "#", :class => "thumbnail"
      %li.span2
        = link_to image_tag("http://placehold.it/160x120"), "#", :class => "thumbnail"
  .span3
  
  .span6.offset3
    %p
      = @blog_post.body
  .span3
  
  .span6.offset3
    .page-header
      %h3
        Join the Discussion
        %small
          You will be asked to log in or register.
          
    .feedback-comment-widget
    
      .community-panel
        %ul
          %li.like
            %button
              Like
          %li.unlike
            %button
              Unlike
          %li.recent-liker
            = image_tag("https://si0.twimg.com/profile_images/1807338004/small_avatar_mini.jpg")
          %li.like-stats
            and 1,446 others liked this.

      .new-comment
        = form_for(Feedback::Comment.new, :url => blog_post_feedback_comments_path(@blog_post)) do |f|
          %ul
            %li
              = f.text_area "body", :placeholder => "Type your comment here.", :required => true
            %li
              = submit_tag "Post"
  .span3