- content_for :page_header do
  .row
    .span12
      %ul.breadcrumb
        %li
          = link_to "Home", blog_posts_path
          %span.divider
            = "/"
        %li.active
          Blog Posts
      
.row
  .span6.offset3
    .page-header
      %h2
        = @blog_post.title
        %small
          by Bobby Brown
          %i.icon-user
    
    %ul.thumbnails
      %li.span4
        = link_to image_tag("http://placehold.it/360x268"), "#", :class => "thumbnail"
      %li.span2
        = link_to image_tag("http://placehold.it/160x120"), "#", :class => "thumbnail"
      %li.span2
        = link_to image_tag("http://placehold.it/160x120"), "#", :class => "thumbnail"
  .span3
  
  .span6.offset3
    %p
      = @blog_post.body
  .span3
  
  .span6.offset3
    .page-header
      %h3
        Join the Discussion
        %small
          You will be asked to log in or register.
    .well
      = form_tag("", :class => "new-comment") do
        = text_area_tag "comment", nil, :placeholder => "Type your comment here."
        = submit_tag "Post", :class => "btn btn-primary pull-right"
  .span3